/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  @apply hidden w-0 h-0;
}
input[type="search"]::-ms-reveal {
  @apply hidden w-0 h-0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  @apply hidden;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
textarea {
  @apply bg-white py-10 px-20 text-18 outline-0 border border-black h-54;
}

textarea {
  height: 210px;
}

select {
  @apply bg-white bg-no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/select-dropdown-arrow.svg);
  background-size: 18px 10px;
  background-position: calc(100% - 16px) center;
}

select::-ms-expand {
  @apply hidden;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  @apply text-black opacity-100;
}

option {
  @apply text-black opacity-100;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  @apply text-black opacity-100;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  @apply text-black opacity-100;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  @apply text-black opacity-100;
}

.gform_wrapper {
  .gfield_validation_message,
  .validation_message {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
  }
  .gform_footer .gform_ajax_spinner {
    @apply hidden #{!important};
  }
}

.site-form {
  .gform_wrapper {
    &.gravity-theme {
       .gform_footer {
          @apply mt-20 p-0;
          input[type="submit"] {
            @apply bg-black text-center text-white text-18 uppercase py-16 px-40 cursor-pointer m-0 outline-0 transition-all hover:transition-all;
            min-height: inherit !important;
            line-height: 1 !important;
          }
        }
    }
    .gform-body {
      .gform_fields {
        .ginput_container {
          &.ginput_container_phone {
             & + .validation_message {
               @apply hidden;
            }
          }
        }
      }
    }
    .gform_confirmation_message {
      @apply inline-block text-center py-20 px-45 text-white rounded md:px-25 bg-green;
    }
  }
}