.multi-image-with-text {
    .subheading {
        p {
            @apply mb-5 text-millbrook;
        }
    }
    .left-col-img {
        left: calc(50vw - 45rem);
        img {
            max-height: 515px; 
        }
    }
    .center-col-img {
        width: clamp(60rem, 50vw, 100rem);
        margin: 0 auto;
        img {
            @apply w-full;
            height: 940px;
        }
    }
    .right-col-img {
        right: calc(50vw - 48rem);
        img {
            width: 445px;
            height: 308px;
        }
    }
    .candid-elopment-info {
        a {
            letter-spacing: 2.16px;
            @apply px-30;
        }
    }
}
.reimagine-block {
    @apply bg-no-repeat bg-cover w-full h-full;
    background-image: url('../img/Grullo-1536x1152.png');
    .left-col,
    .right-col {
        flex: 1 0 0%;
    }
    .left-col {
        img {
            max-width: 450px;
            margin: 0 auto;
        }
    }
    .title-block {
        @apply text-white mx-auto;
        width: 500px;
    }
}